# Remove the files from Git's tracking while keeping them on your disk
git rm --cached face_L.jpg

# For example, if you want to ignore all .env files:
git rm --cached *.env

# For directories:
# git rm -r --cached directory_name/